*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big{
    color: blue;
    border: 2px solid black;
    font-size: 2rem;
}
h1{
    border: 2px solid black;
    display: inline;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}
